.contact-container{
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-input-label{
  color: black;
  margin-bottom: 5px;
  font-size: 12px;
}

.contact-title{
  color: black;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 300;
}

.contact-submit-button{
  width: 100%;
  background-color: #ec1f24;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 2px;
  transition: 0.8s;
  &:hover{
    color: white;
    background-color: #e20f14;
    transition: 0.8s;
  }
}

.form-control {
  border-radius: 2px;
  height: 45px;
}

.form-control:focus {
  border-color: #ec1f24;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(236, 31, 36, 0.61);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(236, 31, 36, 0.61);
}