.header-text-black{
  display: block;
  line-height: 100vh;
  text-align: center;
  color: black;
  font-weight: 600 !important;
  font-size: 60px !important;
  span{
    color: red;
  }
}

.text-container{
  //width: 70%;
  margin-top: 60%;

  .section-header{
    display: block;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }

  .section-text{
    display: block;
    word-spacing: 2.5px;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 24px;
  }

  .section-button{
    background-color: transparent;
    border: solid 3px white;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
  }

}

.homepage-contact-us{
  text-align: center;
}

.homepage-contact-us-text{
  display: block;
  font-size: 30px;
  font-weight: bold;
  word-spacing: 2px;
  color: black;
  margin-bottom: 50px;
}

.red-button{
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: red;
  border-radius: 0;
}

.black-button{
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $footer-black;
  border-radius: 0;
}

//New landing page
.homepage-slider{
  height: 800px;
  //background-color: #00aaaa;
  background-image: url('/img/cover.jpg');
  background-position: center;
  background-size: cover;
}

.slider-content{
  width: 20%;
}

.slider-content-header{
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.slider-content-text{
  font-size: 54px;
  font-weight: 200;
  line-height: 1.2;
  margin-bottom: 10px;

  span{
    color: red;
  }
}

.slider-content-link{
  color: #646363;
  text-decoration: none !important;
  transition: .8s;
  &:hover{
    color: white;
    transition: .8s;
  }
}

.homepage-quadrant{
  margin: 20px;
  height: 900px;
}

.homepage-quarter{
  height: 450px;
  background-position: center;
  background-size: cover;
  &:hover{
    .homepage-container{
      transition: .8s;
      background-color: rgba(0,0,0,.67) !important;
    }
    .homepage-quarter-content{
      transition: .8s;
      top: 40%;
    }
  }
  .homepage-container{
    height: inherit;
  }

  .homepage-quarter-content{
    top: 110%;
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
    transition: .8s;
    .homepage-quarter-content-header{
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .homepage-quarter-content-text{
      font-size: 18px;
      font-weight: 300;
      word-spacing: .5px;
      letter-spacing: 0.5px;
      line-height: 1.4;
    }

    .homepage-quarter-content-link{
      text-decoration: none !important;
      transition: .8s;
      color: white;
      &:hover{
        transition: .8s;
      }
    }
  }
}

.section-left{
  margin-right: 10px;
  margin-bottom: 20px;
}

.section-right{
  margin-left: 10px;
  margin-bottom: 20px;
}

.homepage-join{
  height: 500px;
  //background-color: #00a8c6;
  background-position: center;
  background-size: cover;
}

.homepage-join-content{
  width: 30%;
  .homepage-join-content-header{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .homepage-join-content-text{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .homepage-join-content-link{
    text-decoration: none !important;
    transition: .8s;
    color: white;
    &:hover{
      transition: .8s;
    }
  }
}