.header-text-black{
  display: block;
  line-height: 100vh;
  text-align: center;
  color: black;
  font-weight: 600 !important;
  font-size: 60px !important;
  span{
    color: red;
  }
}

.text-container{
  //width: 70%;
  margin-top: 60%;

  .section-header{
    display: block;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }

  .section-text{
    display: block;
    word-spacing: 2.5px;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 24px;
  }

  .section-button{
    background-color: transparent;
    border: solid 3px white;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
  }

}

.homepage-contact-us{
  text-align: center;
}

.homepage-contact-us-text{
  display: block;
  font-size: 30px;
  font-weight: bold;
  word-spacing: 2px;
  color: black;
  margin-bottom: 50px;
}

.red-button{
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: red;
  border-radius: 0;
}

.black-button{
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $footer-black;
  border-radius: 0;
}