.navbar {
  padding-top: 20px;
  background-color: white;
  padding-bottom: 20px;
}

.brooke-nav-items li a {
  color: #9f9f9f !important;
}

.header-text-black {
  display: block;
  line-height: 100vh;
  text-align: center;
  color: black;
  font-weight: 600 !important;
  font-size: 60px !important;
}

.header-text-black span {
  color: red;
}

.text-container {
  margin-top: 60%;
}

.text-container .section-header {
  display: block;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.text-container .section-text {
  display: block;
  word-spacing: 2.5px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 24px;
}

.text-container .section-button {
  background-color: transparent;
  border: solid 3px white;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
}

.blogs-container {
  margin-top: 40px;
  margin-bottom: 30px;
}

.blogs-container .blogs-header {
  display: block;
  color: black;
  text-align: center;
}

.blogs-container .blogs-subheader {
  display: block;
  color: #9f9f9f;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 4px;
  margin-top: 15px;
  font-size: 20px;
}

.section-image {
  height: 400px;
  width: 500px;
}

.blog-title {
  color: black;
  font-size: 22px;
  letter-spacing: 2px;
  transition: .8s;
}

.blog-title a .hover {
  transition: 0.8s;
  color: red;
}

.blog-category {
  color: #9f9f9f;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.image-holder {
  height: 335px;
  background-size: cover;
  background-position: center;
}

.blog-hr {
  margin-top: 4em;
  margin-bottom: 4em;
}

.homepage-contact-us {
  text-align: center;
}

.homepage-contact-us-text {
  display: block;
  font-size: 30px;
  font-weight: bold;
  word-spacing: 2px;
  color: black;
  margin-bottom: 50px;
}

.red-button {
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: red;
  border-radius: 0;
}

.footer {
  height: 100px;
  background-color: #212121;
}

.footer-center {
  top: 50%;
}

.about-page-banner {
  height: 400px;
  background-color: rgba(255, 2, 0, 0.54);
}

.about-page-banner-text-container {
  width: 40%;
}

.about-page-banner-text {
  color: white;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 2px;
}

.about-page-who-are-we {
  padding-top: 80px;
  padding-bottom: 70px;
  background-color: white;
  min-height: 640px;
}

.about-page-who-are-we p {
  color: black;
}

.about-page-who-are-we-header {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: .5px;
}

.about-page-who-are-we-text {
  word-spacing: 2px;
  letter-spacing: .5px;
  line-height: 20px;
  margin-top: 10px;
  font-weight: 300;
}

.about-page-image-container {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 250px;
}

.about-page-image {
  background-image: url("../../img/facebook-geek-avatar.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
}

.about-page-image-text-holder {
  margin-top: 20px;
}

.about-page-image-name {
  font-weight: 600;
}

.about-page-image-title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

.about-page-press-container {
  background-color: #ec1f24;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.press-header {
  font-size: 45px;
  font-weight: 800;
  width: 40%;
}

.press-text-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.press-text {
  word-spacing: 2px;
  letter-spacing: .5px;
  line-height: 19px;
  font-weight: 300;
}

.vertical_center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer-top {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*# sourceMappingURL=brooke.css.map */
